body, html {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listamenu { list-style: none; padding-left: 5px; }
li.a {list-style-type: square;}
        
a { color: purple; text-decoration: none;}

.bar {
    background-color: lightgray;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    background-color: #265877;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px; 
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}

.row-table {
    background-color: #265877;
    text-align: center;
    color: white;
}

.row-table-2 {
    background-color: #a6c0cf;
}

.table-lateral {
    width: 240px;
    border: 1px solid;
}

mark {
    background-color: rgb(101, 78, 121);
    color: white;
}

.tabpersonagens tr:nth-child(even) td {
    background-color: rgb(245, 234, 255);
}

.tabpersonagens tr:hover td {
    background-color: rgb(188, 172, 202);
}

.iframe-youtube {
    display: flex;
    justify-content: center;
}

.rodape-des {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
}

.form-buscar, form input {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    
}

.bar {
    background-image: linear-gradient(to right, #012b3b , #d31551);
}

.header {
    background-color: #0c2a3c;
    width: 100%;
}

.container {
    max-width: 1450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo, .sociais {
    width: 25%;
}

.logo img {
    width: 200px;
    cursor: pointer;
}

.menu {
    width: 70%;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #012b3b, #d31551);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 45px;
}

.menu nav a {
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}

.sociais button {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(45deg, #012b3b, #d31551);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.sociais button i {
    font-size: 20px;
    color: white;
}

